@import
url('http://fonts.googleapis.com/css?family=Raleway:200,400');
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=Aldrich);

* {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

html {
  background: white;
  background: radial-gradient(circle, #fff 20%, #ccc);
  background-size: cover;

}

h3 {
  font-family: "Aldrich";
  text-align: center;
  font-size: 22px;
  color: #F0F4F5;
}

#logo {
  padding: 5px 0 5px 0;
}

#calc {
  background: #62c2cc;
  width: 280px;
  height: 408px;
  margin-bottom: 5px;
  margin: 50px auto;
  padding:10px;
  box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 0 20px #545454;
}

#display {
  width: 270px;
  height: 55px;
  line-height: 55px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 0px 5px;
  background-color: #D8EDE2;
  text-align: right;
  font-size: 35px;
  font-family: Courier, monospace;
  border: 0px solid black;
  border-radius: 5px;
  box-shadow: inset 0px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  color: #5A665F;
}

.buttons {
  margin: auto 0;

}

button {
  margin: 0;
  display: block;
  width: 70px;
  height: 60px;
  float: left;
  padding: 2px;
  margin: 5px, 6px;
  text-align: center;
  text-decoration: none;
  background: #eef66c;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
}

button.numbers {
  font: bold 14px Arial, sans-serif;
  color: #7889B0;
}

button.operators {
  background: #fdb813;
  color: white;
  font-size: 17px;
}

button:hover {
  background: #e9f33f;
}

button:hover.operators {
  background: #e3a002;
}

button:focus.operators {
    border: 4px solid #f17022;
}

button#clear, button#clearall {
  background: #e4f6f8;
}
button:hover#clear, button:hover#clearall {
  background: #c2ebef;
}

button#equals {
  background: #f17022;
  color: white;
  font-size: 30px;
  width: 140px;

}

button:hover#equals {
  background: #eb620f;
}


